@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
  background-image: url('../assets/bg.jpg');
  background-position: 'center';
  background-size: cover;
  background-color: #2e2e2e;
  text-align: center;
  user-select: none;
  font-family: 'Fredoka One', cursive;
  color: white;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #d45a45;
}

a:hover {
  color: #f6f6f3;
}
