.button {
    font-size: 16px;
    font-weight: lighter;
    height: 50px;
    border-radius: 30px;
    width: 100%;
    margin: 4px 0px 4px 0px;
}

.box {
    padding: 6px;
    background-color: white;
    border-radius: 6px;
    border-bottom: 20px solid #c84132;
    box-shadow: 0 2px 3px #8a8888;
}