body {
  background-color: #db4f4a;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.App {
  text-align: center;
  color: #131313;
}

.App-header {
  background-color: #c34944;
  display: flex;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  text-shadow: 0 0 1px #ce2e2e, 0 0 10px rgb(193, 194, 190);
  margin-bottom: 25px;
  box-shadow: 0 0 2px #cf4242, 0 0 8px #2B2D1F;

}

a {
  color: #f1fb61;
}

.footer {
  margin-top: 15px;
  color: #ffffff;
  text-shadow: 0 0 2px #cf4242, 0 0 3px rgb(193, 194, 190);
}

